.control-buttons{
  margin-top:20px;
}

.control-buttons button:not(:last-child){
  margin-right: 10px;
}


.favourite-button.empty{
  background-color: transparent;
}

.favourite-button.full{
  background-color: green;
}

.btn.control-button{
  border-radius: 20%;
}
