.positions-list{
  background-color: var(--primary-lighter);
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  max-width: 50vw;
  width: 100%
}

.positions-list>*{
  padding: 20px;
}

.positions-list>*:not(:last-child){
  border-bottom: 1px solid var(--primary-darker);
}

.categories-list{
  max-width: 50vw;
  margin: 0 auto;
  overflow-x: scroll;
}

@media (max-width: 576px){
  .positions-list{
    max-width: 100vw;
  }

  .categories-list{
    max-width: 100vw;
  }
  .menu-button{
    bottom: 0;
    right: 0;
  }
}



.menu-button{
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
}


