@if (order) {

  <div class="row justify-content-center align-items-center">
    <div class="col-6 text-center date">
      <h3>{{order.date | date}}</h3>
    </div>
    <div class="col-6 text-center price">
      {{order.sum}} грн
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-center control-buttons">
        <button mat-fab aria-label="edit button" class="control-button" routerLinkActive [routerLink]="[`/order/create`]" [queryParams]="{orderId:`${order.id}`}">
          <mat-icon color="button-edit">edit</mat-icon>
        </button>
        <button mat-fab aria-label="edit button" style="background-color:var(--button-shopping)">
          <mat-icon style="color:white">
            shopping_cart
          </mat-icon>
        </button>
        <button mat-fab aria-label="edit button" style="background-color: var(--button-copy)">
          <mat-icon style="color: white">content_copy</mat-icon>
        </button>
        <button mat-fab aria-label="edit button" style="background-color: var(--button-remove)" (click)="openDeleteDialog()">

          <mat-icon style="color: white;">delete</mat-icon>
        </button>
      </div>

    </div>
  </div>

}
