@media (max-width: 576px) {
  .full-screen{
    width: 100% !important;
  }

  .add-image-btn{
    flex-direction: column-reverse;
  }
}


.image-preview-wrapper {
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
}

.image-preview {
  width: 50%;
  height: 100%;
  object-fit: cover;
  display: block;
}
