.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box{
  position: relative;
}

.btn-out{
  position: absolute;
  left: -100px;
  top: 0;
  opacity: 0;
}

.btn-out.right{
  position: absolute;
  right: -70px;
  top: 0;
  opacity: 0;
  left: auto;
}

.btn-out:hover{
  opacity: 1;
}

@media (max-width: 563px) {
  .sm-hide{
    display: none !important;
  }
}


.menu-button{
  position: fixed;
  bottom: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
}


.context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
}

.context-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.context-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.context-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.menu{
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgba(255, 255, 255);
  padding: 6px 0;
}

.menu button{
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}


