@if (position){
  <article class="position-row" [class.is-selected]="isSelected">
    <div class="position-image">
      <div class="position-img" [style.background-image]="'url(data:image/*;base64,'+position.image + ')'"></div>
    </div>

    <div class="position-info">
      <h2>{{position.name}}</h2>
      <div class="position-meta">
        <span>{{position.price}} грн</span>
        <span>{{position.weight}} г</span>
      </div>
    </div>

    <div class="position-actions">
      @if(selectable){
        @if(isSelected){
          <button mat-stroked-button color="accent" (click)="deselectPosition()">
            <mat-icon>done</mat-icon>
            Вибрано
          </button>
        }
        @else{
          <button mat-flat-button color="accent" (click)="selectPosition()">
            <mat-icon>add</mat-icon>
            Додати
          </button>
        }
      }
      @else{
        <button mat-icon-button class="edit-button" aria-label="Редагувати" title="Редагувати" (click)="openModal()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="delete-button" aria-label="Видалити" title="Видалити" (click)="openDeleteModal()">
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
  </article>
}
