@if (position){

  <div class="row w-100" style="position: relative; margin: 0 auto">
    <div class="col-md-4 col-lg-4 col-sm-6 position-info">
      <div class="d-flex flex-column justify-content-between h-100">
        <span>{{position.name}}</span>
        <div class="d-flex justify-content-between">
          <span>{{position.price}} грн</span>
          <span>{{position.weight}} г</span>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 position-image">
      <div class="position-img" [style.background-image]="'url(data:image/*;base64,'+position.image + ')'">

      </div>
    </div>
    <div class="col-3 d-lg-block d-md-block d-none align-self-center">
      <div class="d-flex justify-content-end">
        @if(selectable){
          @if(isSelected){
            <button mat-button (click)="deselectPosition()">
              <mat-icon>
                done_outline
              </mat-icon>
            </button>
          }
          @else{
            <button mat-button (click)="selectPosition()">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          }

        }@else{
          <button mat-fab  aria-label="edit button" class="control-button mr-3" (click)="openModal()">
            <mat-icon color="button-edit">edit</mat-icon>
          </button>
          <button mat-fab aria-label="edit button" style="background-color: var(--button-remove)" (click)="openDeleteModal()">
            <mat-icon style="color: white;">delete</mat-icon>
          </button>
        }

      </div>
    </div>


    @if(selectable){
      @if(isSelected){
        <button mat-button (click)="deselectPosition()" class="position-menu-button d-block d-lg-none d-md-none">
          <mat-icon>
            done_outline
          </mat-icon>
        </button>
      }
      @else{
        <button mat-button (click)="selectPosition()" class="position-menu-button d-block d-lg-none d-md-none">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      }
    }
    @else{
      <button mat-icon-button [matMenuTriggerFor]="posMenu" class="position-menu-button d-block d-lg-none d-md-none">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #posMenu="matMenu">
        <button mat-menu-item>
          <mat-icon color="button-edit">edit</mat-icon>
          <span>Редагувати</span>
        </button>
        <button mat-menu-item>
          <mat-icon color="button-edit">delete</mat-icon>
          <span>Видалити</span>
        </button>
      </mat-menu>
    }

  </div>

}



