.logo{
  background-image: url('/assets/img/logo.png');
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.login-bg{
  background-color: var(--primary-lighter );
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
  max-width:40vw !important;
}


@media (max-width:1024px){
  .login-bg{
    max-width: 100% !important;
  }
}

@media screen and (min-width:1025px){
  .login-bg{
    max-width: 40vw !important;
  }
}

