
body{
  margin: 0;
  background-color: var(--primary-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

body,html{
  height: 100%;
  font-family: Roboto, sans-serif;
}

html, body { height: 100%; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-dialog-surface.mdc-dialog__surface{
  justify-content: center !important;
}


@media (max-width: 576px) {
  .mat-horizontal-content-container{
    padding: 0 !important;
  }

  .mat-mdc-dialog-container .mat-mdc-dialog-content{
    padding: 0 !important;
  }

  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
    display: none !important;
  }

  .full-screen{
    max-width: 100vw !important;
    width: 100% !important;
  }

  /*mat-select modification*/

  .mdc-list-item--selected{
    background-color: var(--primary-color)!important;
    color: white !important;
  }

  .mdc-list-item--selected::before,
  .mdc-list-item--selected::after{
    content: '' !important;
    background: none !important;
  }

  .mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal{
    display: none !important;
  }

  .mdc-list-item__primary-text{
    color: white !important;
  }
}

.mat-mdc-form-field-subscript-wrapper{
  display: none !important;
  visibility: collapse !important;
}

